@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700|Nunito:400,800|Titillium+Web:400,700|Source+Sans+Pro:300');

* {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 20px;
}

body {
	overflow-x: hidden;
}



@media  (min-width: $screen-md) and (max-width: $screen-lg) {

}

@media (max-width: $screen-md) {

}

@media (max-width: $screen-sm) {

}